.nav-container {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 113;
}
#sm-nav-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  text-align: center;
}
#sm-nav-brand-logo {
  color: #212a2f;
  font-size: 1.7rem;
  margin: auto;
  margin-bottom: 0px;
  padding: 0px;
  margin-right: 0;
  padding-top: 5px;
  margin-left: 0px;
}
@media (max-width: 501px) {
  #sm-nav-brand-logo {
    display: flex;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 1px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  #sm-nav-brand-logo {
    display: flex;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 1px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
}
#sm-nav-brand hr {
  border: 0;
  margin-top: 1px;
  border-top: 2px solid #e55934;
  width: 140px;
}
@media (max-width: 501px) {
  #sm-nav-brand hr {
    margin-left: 13px;
    border-top: 2px solid #e55934;
    width: 130px;
    margin-top: 1px;
  }
}
#nav-left {
  width: 33%;
}
@media (max-width: 501px) {
  #nav-left {
    display: none;
  }
}
@media (max-width: 768px) {
  #nav-left {
    display: none;
  }
}
#nav-left ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0px;
  padding-left: 0px;
}
#nav-left ul :hover {
  color: #e55934;
  text-decoration: underline black;
}
#nav-left a {
  color: #212a2f;
}
#nav-right {
  width: 33%;
}
@media (max-width: 501px) {
  #nav-right {
    display: none;
  }
}
@media (max-width: 768px) {
  #nav-right {
    display: none;
  }
}
#nav-right ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0px;
}
#nav-right ul :hover {
  color: #e55934;
  text-decoration: underline black;
}
#nav-right a {
  color: #212a2f;
}
#nav-right a :hover {
  color: #e55934;
}
#sm-nav-btn {
  border: none;
}
#sm-nav-btn span {
  color: #e55934;
}
#sm-nav-btn span :hover {
  color: gray;
}
@media (min-width: 769px) {
  #sm-nav-btn {
    display: none !important;
    flex-basis: auto;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
    flex-basis: auto;
  }
}
@media (min-width: 768px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
    flex-basis: auto;
  }
}
.banner {
  height: 40px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 12px 2px;
  background-color: #212a2f;
}
.banner-message {
  margin-top: 3px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-decoration: none;
}
.byeByeBanner {
  display: none;
}
#main {
  background-color: #e55934;
  display: flex;
  flex-direction: column;
}
.email-button-hidden {
  display: none !important;
}
.email-button-show span {
  position: fixed;
  bottom: 105px;
  right: 20px;
  font-size: 3em;
  color: #212a2f;
}
@media (max-width: 501px) {
  .email-button-show span {
    display: none;
  }
}
.jumbotron {
  margin-bottom: 0.5rem;
  background-color: transparent;
}
#intro {
  height: 80vh;
  background-color: white;
  margin-top: 90px;
  margin-bottom: 90px;
}
@media (max-width: 501px) {
  #intro {
    height: 525px;
    margin-bottom: 40px;
    text-align: center;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  #intro {
    flex-direction: row;
    margin-top: 65px;
    margin-bottom: 30px;
  }
}
@media (max-width: 992px) {
  #intro {
    margin-bottom: 10px;
  }
}
@media (max-width: 501px) {
  #intro-container {
    flex-direction: column;
    padding-top: 70px;
  }
}
@media (max-width: 768px) {
  #intro-container {
    flex-direction: row;
    height: auto;
  }
}
#intro-top-copy {
  text-align: center;
  margin: auto;
  margin-top: 4rem;
  margin-left: 3.3rem;
}
@media (max-width: 501px) {
  #intro-top-copy {
    margin-left: 0;
    padding-top: 100px;
  }
}
@media (max-width: 768px) {
  #intro-top-copy {
    text-align: left;
    margin: auto;
    margin-top: 2.4rem;
    padding-top: 20px;
    height: auto;
  }
}
@media (max-width: 992px) {
  #intro-top-copy {
    padding-top: 50px;
  }
}
#intro-top-copy h1 {
  font-size: 100px;
  font-weight: 900;
}
@media (max-width: 501px) {
  #intro-top-copy h1 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  #intro-top-copy h1 {
    font-size: 52px;
  }
}
@media (max-width: 992px) {
  #intro-top-copy h1 {
    font-size: 78px;
  }
}
#intro-top-img {
  max-width: 100%;
  max-height: 85%;
}
@media (max-width: 501px) {
  #intro-top-img {
    display: none;
  }
}
@media (max-width: 768px) {
  #intro-top-img {
    height: auto;
    padding-top: 60px;
  }
}
@media (max-width: 992px) {
  #intro-top-img {
    height: 800px;
  }
}
@media (max-width: 768px) {
  #intro-top-img img {
    height: 400px;
    width: 400px;
  }
}
#home-ingredients {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#home-ingredients .row {
  margin-right: 0px;
  margin-left: 0;
}
@media (max-width: 501px) {
  #home-ingredients .row {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  #home-ingredients .row {
    flex-direction: column;
    margin: auto;
  }
}
@media (max-width: 992px) {
  #home-ingredients .row {
    flex-direction: column;
    margin: auto;
  }
}
.moo {
  margin-left: 3rem;
  width: 80%;
}
@media (max-width: 768px) {
  .moo {
    padding-bottom: 35px;
    margin: auto;
    width: auto;
  }
}
@media (max-width: 992px) {
  .moo {
    padding-bottom: 35px;
    margin: auto;
    width: auto;
  }
}
@media (max-width: 501px) {
  .moo img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .moo img {
    width: 100%;
  }
}
.moo-copy {
  margin: auto;
  text-align: center;
}
.moo-copy h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (max-width: 501px) {
  .moo-copy button {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .moo-copy button {
    margin-bottom: 50px;
  }
}
#home-ingredients h2 {
  font-size: 3.8rem;
  font-weight: 200;
  color: white;
  font-style: oblique;
}
#pattern {
  background-image: url('../assets/checkered_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
}
#pattern iframe {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 501px) {
  #pattern iframe {
    height: 450px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  #pattern iframe {
    height: 400px;
  }
}
#review {
  display: flex;
  flex-direction: column;
}
.review-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 95%;
}
#raving-fan {
  width: 30%;
  margin-bottom: 15px;
}
@media (max-width: 501px) {
  #raving-fan {
    margin: auto;
    margin-bottom: 15px;
    width: 90%;
  }
}
#raving-fan-mmm {
  width: 30%;
  align-self: flex-end;
}
.review-container h2 {
  margin-left: 1rem;
  margin-bottom: 35px;
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
}
@media (max-width: 501px) {
  .review-container h2 {
    margin-left: 0;
    text-align: center;
  }
}
#raving-fans {
  display: flex;
  flex-direction: column;
}
#review-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 501px) {
  #review-cards {
    flex-direction: column;
  }
}
#review-cards .card {
  width: 30%;
}
@media (max-width: 501px) {
  #review-cards .card {
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
#jumbo-menu {
  background-image: url('../assets/menu_assorted.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin-top: 60px;
  margin-bottom: 100px;
}
@media (max-width: 501px) {
  #jumbo-menu {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
#byop-home {
  display: flex;
  width: 95%;
  margin: auto;
}
@media (max-width: 501px) {
  #byop-home {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  #byop-home {
    flex-direction: column;
  }
}
#byop-home img {
  width: 65%;
  margin: auto;
  border: 2px solid white;
}
@media (max-width: 501px) {
  #byop-home img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #byop-home img {
    width: 100%;
  }
}
#byop-home .card {
  text-align: center;
  padding: 50px;
}
@media (max-width: 501px) {
  #byop-home .card {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (max-width: 992px) {
  #byop-home .card {
    padding: 0px;
  }
}
@media (max-width: 992px) {
  #byop-home .card .card-body {
    padding: 0px;
    padding-top: 14px;
  }
}
#byop-home .card h5 {
  font-size: 1.2rem;
}
#byop-home .card hr {
  width: 100%;
  border-top: 1px solid #e55934;
}
@media (max-width: 768px) {
  #byop-home .card hr {
    width: 60%;
  }
}
@media (max-width: 992px) {
  #byop-home .card hr {
    width: 80%;
  }
}
#byop-home .card p {
  font-size: 18px;
}
@media (max-width: 768px) {
  #byop-home .card p {
    width: 70%;
    margin: auto;
  }
}
#byop-home .card a {
  margin-top: 15px;
}
@media (max-width: 501px) {
  #byop-home .card a {
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  #byop-home .card a {
    margin-bottom: 25px;
  }
}
#carouselMenu {
  width: 65%;
  margin: auto;
}
#footer {
  width: 100%;
  height: 90px;
  background-color: white;
  text-align: center;
}
#footer p {
  padding-top: 20px;
  color: #212a2f;
}
#main-story {
  background-color: white;
}
#story {
  width: 80%;
  margin: auto;
  margin-top: 150px;
}
.story-intro {
  background-image: url('../assets/Smokey_Moses_Pizza_BBQ_New_Hampshire.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.story-intro-card {
  border: none;
}
.story-intro-card .card-body {
  padding-top: 7px;
}
.story-intro-card h5 {
  font-size: 62px;
  text-align: center;
}
.story-intro-card h6 {
  text-align: center;
  margin-top: 10px;
}
.story-intro-card p {
  margin-top: 14px;
}
.story-intro-card a {
  color: #212a2f;
}
.story-intro-card a:hover {
  color: #e55934;
}
.story-intro-card hr {
  border-top: 2px solid #e55934;
}
#main-menu {
  margin: auto;
  margin-top: 140px;
}
.hr-intro {
  border-top: 2px solid #212a2f;
}
#menu .menu-pizza {
  color: #e55934;
  font-weight: 900;
  font-size: 50px;
}
#menu .menu-bbq {
  color: #212a2f;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}
#menu .menu-sides {
  color: #e55934;
  font-weight: 900;
  font-size: 50px;
  text-align: right;
}
.pizza-intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.cat-intro {
  margin-bottom: 25px;
}
.cat-intro span {
  color: #e55934;
  font-weight: bold;
}
.topping-box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.topping-box p {
  font-weight: 300;
}
.pizza-col h4 {
  text-align: center;
  font-weight: 700;
  color: #e55934;
}
.card-body {
  padding-top: 5px;
}
.card-body h6 {
  font-weight: bolder;
  margin-bottom: 5px;
}
.hr-menu-divs {
  border-top: 1.5px dotted #e55934;
  margin-left: 0;
  width: 50%;
}
.hr-menu-break {
  border-top: 6px dotted #212a2f;
  width: 90%;
}
.pizza-base {
  background-image: url('../assets/byo_base.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  background-size: 400px 400px;
}
.pepperoni {
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-size: 300px 300px;
}
.byo-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.byo-intro h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #e55934;
}
.pie-size {
  display: flex;
  flex-direction: row;
}
.pie-size p {
  margin-right: 15px;
}
#byop-toppings h3 {
  color: #e55934;
  margin-top: 10px;
}
#byop-toppings button {
  margin: 5px;
}
