.nav-container {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 113;
}
#sm-nav-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  text-align: center;
}
#sm-nav-brand-logo {
  color: #212a2f;
  font-size: 1.7rem;
  margin: auto;
  margin-bottom: 0px;
  padding: 0px;
  margin-right: 0;
  padding-top: 5px;
  margin-left: 0px;
}
@media (max-width: 500px) {
  #sm-nav-brand-logo {
    display: flex;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 1px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  #sm-nav-brand-logo {
    display: flex;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 1px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
}
#sm-nav-brand hr {
  border: 0;
  margin-top: 1px;
  border-top: 2px solid #e55934;
  width: 140px;
}
@media (max-width: 500px) {
  #sm-nav-brand hr {
    margin-left: 13px;
    border-top: 2px solid #e55934;
    width: 130px;
    margin-top: 1px;
  }
}
#nav-left {
  width: 33%;
}
@media (max-width: 500px) {
  #nav-left {
    display: none;
  }
}
@media (max-width: 768px) {
  #nav-left {
    display: none;
  }
}
#nav-left ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0px;
  padding-left: 0px;
}
#nav-left ul :hover {
  color: #e55934;
  text-decoration: underline black;
}
#nav-left a {
  color: #212a2f;
}
#nav-right {
  width: 33%;
}
@media (max-width: 500px) {
  #nav-right {
    display: none;
  }
}
@media (max-width: 768px) {
  #nav-right {
    display: none;
  }
}
#nav-right ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0px;
}
#nav-right ul :hover {
  color: #e55934;
  text-decoration: underline black;
}
#nav-right a {
  color: #212a2f;
}
#nav-right a :hover {
  color: #e55934;
}
#sm-nav-btn {
  border: none;
}
#sm-nav-btn span {
  color: #e55934;
}
#sm-nav-btn span :hover {
  color: gray;
}
@media (min-width: 769px) {
  #sm-nav-btn {
    display: none !important;
    flex-basis: auto;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
    flex-basis: auto;
  }
}
@media (min-width: 768px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
    flex-basis: auto;
  }
}
.banner {
  height: 40px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 12px 2px;
  background-color: #212a2f;
}
.banner-message {
  margin-top: 3px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-decoration: none;
}
.byeByeBanner {
  display: none;
}
#main {
  background-color: #e55934;
  height: 3000px;
  display: flex;
  flex-direction: column;
}
.email-button-hidden {
  display: none !important;
}
.email-button-show span {
  position: fixed;
  bottom: 12px;
  right: 20px;
  font-size: 3em;
  color: #212a2f;
}
.jumbotron {
  margin-bottom: 0.5rem;
  background-color: transparent;
}
#intro-hero img {
  width: 100%;
  height: 120vh;
}
@media (max-width: 500px) {
  #intro-hero img {
    height: 95vh;
  }
}
#intro-hero h1 {
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: white;
}
#local {
  height: 80vh;
  background-color: white;
  margin-top: 90px;
  margin-bottom: 90px;
}
#review {
  display: flex;
  flex-direction: column;
}
.review-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 95%;
}
.review-container h2 {
  margin-left: 1rem;
  margin-bottom: 35px;
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
}
@media (max-width: 500px) {
  .review-container h2 {
    margin-left: 0;
    text-align: center;
  }
}
#review-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  #review-cards {
    flex-direction: column;
  }
}
#review-cards .card {
  width: 30%;
}
@media (max-width: 500px) {
  #review-cards .card {
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
#jumbo-menu {
  background-image: url('../assets/menu_assorted.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin-top: 60px;
}
#carouselMenu {
  width: 65%;
  margin: auto;
}
#main-story {
  background-color: white;
}
#story {
  width: 80%;
  margin: auto;
  margin-top: 150px;
}
.story-intro {
  background-image: url('../assets/Smokey_Moses_Pizza_BBQ_New_Hampshire.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.story-intro-card {
  border: none;
}
.story-intro-card .card-body {
  padding-top: 7px;
}
.story-intro-card h5 {
  font-size: 62px;
  text-align: center;
}
.story-intro-card h6 {
  text-align: center;
  margin-top: 10px;
}
.story-intro-card p {
  margin-top: 14px;
}
.story-intro-card a {
  color: #212a2f;
}
.story-intro-card a:hover {
  color: #e55934;
}
.story-intro-card hr {
  border-top: 2px solid #e55934;
}
#main-menu {
  margin: auto;
  margin-top: 140px;
}
.hr-intro {
  border-top: 2px solid #212a2f;
}
#menu .menu-pizza {
  color: #e55934;
  font-weight: 900;
  font-size: 50px;
}
#menu .menu-bbq {
  color: #212a2f;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}
#menu .menu-sides {
  color: #e55934;
  font-weight: 900;
  font-size: 50px;
  text-align: right;
}
.pizza-intro {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.pizza-intro hr {
  border-top: 2px solid #e55934;
  width: 90%;
}
.topping-box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.topping-box h6 {
  max-width: 60px;
}
.pizza-col h4 {
  text-align: center;
  font-weight: 700;
  color: #e55934;
}
.card-body h6 {
  font-weight: bolder;
  margin-bottom: 5px;
}
.hr-menu-divs {
  border-top: 1.5px dotted #e55934;
  width: 70%;
}
