.pizza-base {
	background-image: url('../assets/byo_base.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
	background-size: 400px 400px;
}
.pepperoni {
	// display: none;
	background-image: none;
	// background-image: url('../assets/byo_cheese.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	background-size: 300px 300px;
}

// .cheese {
// 	// display: none;
// 	background-image: url('../assets/byo_cheese.png');
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	height: 100%;
// 	background-size: 372px 368px;
// }
