#sm-nav .navbar .navbar-expand-lg {
	background-color: white;
}

#sm-nav-brand {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
	text-align: center;
}

#sm-nav-brand-logo {
	color: #212a2f;
	font-size: 1.7rem;
	margin: auto;
	margin-bottom: 0px;
	padding: 0px;
	margin-right: 0;
	padding-top: 5px;
	margin-left: 0px;
	// text-decoration: underline #e55934;

	@media @phone {
		display: flex;
		padding-top: 0.3125rem;
		padding-bottom: 0.3125rem;
		margin-left: 1px;
		font-size: 1.25rem;
		line-height: inherit;
		white-space: nowrap;
	}

	@media @tablet {
		display: flex;
		padding-top: 0.3125rem;
		padding-bottom: 0.3125rem;
		margin-left: 1px;
		font-size: 1.25rem;
		line-height: inherit;
		white-space: nowrap;
	}
}

#sm-nav-brand hr {
	border: 0;
	margin-top: 1px;
	border-top: 2px solid #e55934;
	width: 140px;

	@media @phone {
		margin-left: 13px;
		border-top: 2px solid #e55934;
		width: 130px;
		margin-top: 1px;
	}
}

#nav-left {
	width: 33%;

	@media @phone {
		display: none;
	}
	@media @tablet {
		display: none;
	}
}

#nav-left ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 0px;
	padding-left: 0px;

	:hover {
		color: #e55934;
	}
}

#nav-left a {
	color: #212a2f;
}

#nav-right {
	width: 33%;
	@media @phone {
		display: none;
	}
	@media @tablet {
		display: none;
	}
}

#nav-right ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 0px;

	:hover {
		color: #e55934;
	}
}

#nav-right a {
	color: #212a2f;

	:hover {
		color: #e55934;
	}
}

#sm-nav-btn {
	border: none;

	span {
		color: #e55934;

		:hover {
			color: gray;
		}
	}
}

#sm-nav-btn {
	@media (min-width: 769px) {
		display: none !important;
		flex-basis: auto;
	}
}

.navbar-expand-lg .navbar-collapse {
	@media (min-width: 992px) {
		display: none !important;
		flex-basis: auto;
	}
}

.navbar-expand-lg .navbar-collapse {
	@media (min-width: 768px) {
		display: none !important;
		flex-basis: auto;
	}
}
