.nav-container {
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 113;
}

// #sm-nav .navbar .navbar-expand-lg {
// 	background-color: white;
// 	position: fixed;
// 	top: 0;
// 	width: 100%;
// 	z-index: 113;
// }

#sm-nav-brand {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
	text-align: center;
}

#sm-nav-brand-logo {
	color: #212a2f;
	font-size: 1.7rem;
	margin: auto;
	margin-bottom: 0px;
	padding: 0px;
	margin-right: 0;
	padding-top: 5px;
	margin-left: 0px;
	// text-decoration: underline #e55934;

	@media @phone {
		display: flex;
		padding-top: 0.3125rem;
		padding-bottom: 0.3125rem;
		margin-left: 1px;
		font-size: 1.25rem;
		line-height: inherit;
		white-space: nowrap;
	}

	@media @tablet {
		display: flex;
		padding-top: 0.3125rem;
		padding-bottom: 0.3125rem;
		margin-left: 1px;
		font-size: 1.25rem;
		line-height: inherit;
		white-space: nowrap;
	}
}

#sm-nav-brand hr {
	border: 0;
	margin-top: 1px;
	border-top: 2px solid #e55934;
	width: 140px;

	@media @phone {
		margin-left: 13px;
		border-top: 2px solid #e55934;
		width: 130px;
		margin-top: 1px;
	}
}

#nav-left {
	width: 33%;

	@media @phone {
		display: none;
	}
	@media @tablet {
		display: none;
	}
}

#nav-left ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 0px;
	padding-left: 0px;

	:hover {
		color: #e55934;
		text-decoration: underline black;
	}
}

#nav-left a {
	color: #212a2f;
}

#nav-right {
	width: 33%;
	@media @phone {
		display: none;
	}
	@media @tablet {
		display: none;
	}
}

#nav-right ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 0px;

	:hover {
		color: #e55934;
		text-decoration: underline black;
	}
}

#nav-right a {
	color: #212a2f;

	:hover {
		color: #e55934;
	}
}

#sm-nav-btn {
	border: none;

	span {
		color: #e55934;

		:hover {
			color: gray;
		}
	}
}

#sm-nav-btn {
	@media (min-width: 769px) {
		display: none !important;
		flex-basis: auto;
	}
}

.navbar-expand-lg .navbar-collapse {
	@media (min-width: 992px) {
		display: none !important;
		flex-basis: auto;
	}
}

.navbar-expand-lg .navbar-collapse {
	@media (min-width: 768px) {
		display: none !important;
		flex-basis: auto;
	}
}

.banner {
	height: 40px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 0px 12px 2px;
	background-color: #212a2f;
}

.banner-message {
	margin-top: 3px;
	color: rgb(255, 255, 255);
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 1.5;
	text-decoration: none;
}

.byeByeBanner {
	display: none;
}

#main {
	background-color: #e55934;
	height: 3000px;
	display: flex;
	flex-direction: column;
}

.email-button-hidden {
	display: none !important;
}

.email-button-show span {
	position: fixed;
	bottom: 12px;
	right: 20px;
	font-size: 3em;
	// color: white;
	color: #212a2f;
}

.jumbotron {
	margin-bottom: 0.5rem;
	background-color: transparent;
}

// #intro-hero {
// 	margin-top: 15px;
// 	height: 70vh;
// }

#intro-hero img {
	width: 100%;
	height: 120vh;

	@media @phone {
		height: 95vh;
	}
}

#intro-hero h1 {
	position: absolute;
	bottom: 30px;
	left: 40px;
	color: white;
}

#local {
	height: 80vh;
	background-color: white;
	margin-top: 90px;
	margin-bottom: 90px;
}

#home-ingredients {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.moo {
	margin-left: 3rem;
	width: 80%;
}

.moo-copy {
	margin: auto;
	text-align: center;
}

#home-ingredients h2 {
	font-size: 3.8rem;
	font-weight: 200;
	color: white;
	font-style: oblique;
}

.moo-copy hr {
	border-top: 2px solid #212a2f;
}

#pattern {
	background-image: url('../assets/checkered_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	// height: 600px;
	width: 100%;
	margin-bottom: 40px;
	display: flex;
}

#pattern iframe {
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

// #home-ingredients .ingredients-copy {
// 	margin: auto;
// }

#review {
	display: flex;
	flex-direction: column;
}

.review-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 95%;
}

.review-container h2 {
	margin-left: 1rem;
	margin-bottom: 35px;
	color: white;
	font-size: 2.5rem;
	font-weight: 300;

	@media @phone {
		margin-left: 0;
		text-align: center;
	}
}

#review-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	@media @phone {
		flex-direction: column;
	}

	.card {
		width: 30%;

		@media @phone {
			width: 90%;
			margin: auto;
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}

#jumbo-menu {
	background-image: url('../assets/menu_assorted.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	margin-top: 60px;
}

#carouselMenu {
	width: 65%;
	margin: auto;
}
