#sm-nav .navbar .navbar-expand-lg {
	background-color: white;
}

#sm-nav-brand {
	color: #212a2f;
	font-size: 1.7rem;
	margin: auto;
	width: 33%;
	text-align: center;
	margin-bottom: 0px;
	padding: 0px;

	@media @phone {
		display: flex;
		padding-top: 0.3125rem;
		padding-bottom: 0.3125rem;
		margin-left: 1px;
		font-size: 1.25rem;
		line-height: inherit;
		white-space: nowrap;
	}
}

#nav-left {
	width: 33%;

	@media @phone {
		display: none;
	}
}

#nav-left ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 0px;
	padding-left: 0px;
}

#nav-left a {
	color: #212a2f;
}

#nav-right {
	width: 33%;
	@media @phone {
		display: none;
	}
}

#nav-right ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 0px;
}

#nav-right a {
	color: #212a2f;
}

#sm-nav-btn {
	border: none;

	span {
		color: #e55934;

		:hover {
			color: gray;
		}
	}
}

// #navbarNav ul {
// 	@media @laptop {
// 		display: none;
// 	}
// }
