#ingredients {
	width: 80%;
	margin: auto;
	margin-top: 80px;
	display: flex;
	flex-direction: column;

	@media @phone {
		margin-left: 10px;
		margin-right: 10px;
	}
}

#ingredients .jumbotron {
	margin: auto;
}

#ingredients img {
	width: 500px;
	height: 500px;
}
