#main-story {
	background-color: white;
}

#story {
	width: 80%;
	margin: auto;
	margin-top: 150px;

	@media @phone {
		width: 90%;
		margin-top: 90px;
	}
}

.story-intro {
	padding-top: 20px;
	padding-bottom: 20px;

	@media @phone {
		padding-top: 10px;
		padding-bottom: 5px;
	}
}

.story-intro img {
	width: 100%;
}

.story-intro-card {
	border: none;
}

.story-intro-card .card-body {
	padding-top: 7px;
}

.story-intro-card h5 {
	font-size: 62px;
	text-align: center;
}

.story-intro-card h6 {
	text-align: center;
	margin-top: 10px;
}

.story-intro-card p {
	margin-top: 14px;
	text-align: justify;
}

.story-intro-card a {
	color: @charcoal;
}

.story-intro-card a:hover {
	color: @fire;
}

.story-intro-card hr {
	border-top: 2px solid @fire;
}
