// Variables

// Color Vars
@charcoal: #212a2f;
@fire: #e55934;

// Mobile var
@phone: ~'(max-width: 501px)';
@tablet: ~'(max-width: 768px)';
@laptop: ~'(max-width: 992px)';
@desktop: ~'(min-width: 1000px)';
